<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: instructors_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by region"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% if @instructors.empty? %>
  <div class="no-results-message">
    <p>Sorry, no instructors are available in this region.</p>
  </div>
<% else %>
  <% @instructors.each do |instructor| %>
    <div class="instructor-card">
      <h2><a href="<%= instructor_path(instructor) %>"><%= instructor.company_name %></a></h2>
      <% if instructor.photo.key.present? %>
      <%= cl_image_tag instructor.photo.key, height: 200, width: 200, crop: :fill, class: 'rounded-circle' %>
      <% end %>
    </div>
  <% end %>
<% end %>
