<style>
.instructor-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.instructor-card p strong {
    font-weight: bold;
}

.no-results-message {
  background-color: #f8d7da;
  border: 1px solid #dc3545;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  color: #721c24;
}

</style>


<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: instructors_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by region"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% if @instructors.empty? %>
  <div class="no-results-message">
    <p>Sorry, no instructors are available in this region.</p>
  </div>
<% else %>
  <% @instructors.each do |instructor| %>
    <div class="instructor-card">
      <h2><a href="<%= instructor_path(instructor) %>"><%= instructor.company_name %></a></h2>
      <p><strong>Region:</strong> <%= instructor.address %></p>
    </div>
  <% end %>
<% end %>
